*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cyan;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone{
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}

.storiyan{
    height: 110px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}

.storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid red;
    height: 80px;
    width: 80px;
    display: inline-block;
    border-radius: 40px;
    overflow: hidden;
    margin-left: 15px;
    
}

.story img{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    object-position: top;
}

.fullscreen{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
}

